.cards {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 75%;
}

.cards .card {
    height: 230px;
    width: 150px;
    margin: auto;
    margin-right: 10px;
    margin-top: 25px;
    border-radius: 8px;
    background: rgba(150,150,150,0.4);
    overflow: hidden;
    text-decoration: none;
    transition: background .5s;
}

.cards .card:hover {
    background: rgba(100,100,100,0.4);
    transition: background .5s;
}

.cards .card__image {
    height: 190px;
    width: 100%;
}

.cards .card__image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    font-size: 0px;
}

.cards .card__name {
    height: 40px;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #111;
    font-weight: bold;
    font-family: Impact, Charcoal, sans-serif;
}

.cards .card__name span {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.search {
    display: grid;
    grid-template-columns: auto 50px;
    width: 50%;
    margin: auto;
}

.search input[type=text] {
    background: rgba(255,255,255,0.05);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-left: 1px solid rgba(150,150,150,0.4);
    border-top: 1px solid rgba(150,150,150,0.4);
    border-bottom: 1px solid rgba(150,150,150,0.4);
    border-right: transparent;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    color: #969696;
    outline: none;
}

.search input[type=text]::placeholder {
    color: rgba(150,150,150,0.6);
}

.search button {
    background: rgba(255,255,255,0.05);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-right: 1px solid rgba(150,150,150,0.4);
    border-top: 1px solid rgba(150,150,150,0.4);
    border-bottom: 1px solid rgba(150,150,150,0.4);
    border-left: transparent;
    width: 100%;
    box-sizing: border-box;
    color: rgba(150,150,150,0.8);
    cursor: pointer;
    outline: none;
}

.select {
    display: flex;
    flex-wrap: wrap;
    margin-left: 25rem;
}

.select .active img {
    filter: none;
    width: 210px;
    height: 45px;
    transition: filter .5s;
}

.select img {
    filter: brightness(0.5);
    display: block;
    margin-bottom: 2rem;
    margin-top: 2rem;
    max-width: 100%;
    height: 35px;
    width: 200px;
    transition: filter .5s, height .5s, width .5s;
}

.select img:hover {
    filter: brightness(0.8);
    width: 210px;
    height: 45px;
    transition: filter .5s, width .5s, height .5s;
}

body {
    background-image: url("https://1.bp.blogspot.com/-kLfG01wsgrc/XIkaFWgk_yI/AAAAAAAAAgo/nw_ySquwY600htfdX_pu5gA-zKNBVsnRACKgBGAs/w0/anime-scenery-night-sky-clouds-horizon-uhdpaper.com-4K-127.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#root {
    max-width: 1200px;
    margin: 0 auto;
}

#button {
    display: inline-block;
    background: rgba(150,150,150,0.4);
    width: 60px;
    height: 60px;
    text-align: center;
    border-radius: 50%;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background .5s, opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    padding-top: 2px;
}
#button:after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
}
#button:hover {
    cursor: pointer;
    background: rgba(100,100,100,0.4);
    transition: background .5s;
}
#button:active {
    background-color: #555;
}
#button.show {
    opacity: 1;
    visibility: visible;
}
